.div{
    margin:0;
}

.product-container{
    width:80%;
    max-width: 1000px;
    margin: 50px auto;
}

.p-container-item{
    float:left;
    width: 25%;
    text-align: center;
}

@media screen and (max-width:992px){
    .p-container-item{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .p-container-item{
        width: 100%;
    }
}