.profile {
  text-align: center;
}

.profile h3 {
  font-size: 32px;
  margin-bottom: 0;
}

.profile p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spec {
  max-width: 800px;
  background-color: darkseagreen;
  border-right: 4px solid blanchedalmond;
  border-bottom: 4px solid blanchedalmond;
  box-shadow: 4px 4px burlywood;
  border-radius: 5px;
  padding: 40px 20px;
  margin: 0 auto;
  font-size: 18px;
}

.spec ul {
  list-style-type: "- ";
}
